/* line 27, ../scss/styles.scss */
.heading, h1, nav a {
  color: #1d8e2d;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 41, ../scss/styles.scss */
.buttonDefault, #contact form #submitbutton {
  background-color: Transparent;
  font-size: 18pt;
  color: #909090;
  border-style: solid;
  border-width: 2px;
  border-color: #909090;
}

/* line 50, ../scss/styles.scss */
html, body {
  overflow-x: hidden;
}

/* line 54, ../scss/styles.scss */
h1 {
  font-size: 14pt;
  margin-bottom: 50px;
}

/* NAVIGATION BAR */
/* line 62, ../scss/styles.scss */
nav {
  background-color: #FFFFFF;
}
/* line 67, ../scss/styles.scss */
nav li {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
}
/* line 72, ../scss/styles.scss */
nav a:hover {
  color: #094411;
}
/* line 76, ../scss/styles.scss */
nav .active {
  background-color: #eee;
}
/* line 79, ../scss/styles.scss */
nav .icon-bar {
  background-color: #909090;
}

/* JUMBOTRON */
/* line 86, ../scss/styles.scss */
.background {
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}

/* line 95, ../scss/styles.scss */
.background-img {
  background-image: url("../img/trello.jpg");
}

/* line 99, ../scss/styles.scss */
.jumbotron {
  padding: 300px;
}

/* line 103, ../scss/styles.scss */
.content {
  padding: 40px;
}

/* line 107, ../scss/styles.scss */
#services {
  margin-top: -3%;
  padding: 7% 7% 7% 7%;
  background-color: #FFFFFF;
}
/* line 111, ../scss/styles.scss */
#services h4 {
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
}
@media (min-width: 768px) {
  /* line 111, ../scss/styles.scss */
  #services h4 {
    font-size: 16pt;
  }
}
@media (max-width: 767px) {
  /* line 111, ../scss/styles.scss */
  #services h4 {
    font-size: 10pt;
  }
}
/* line 123, ../scss/styles.scss */
#services img {
  height: 150px;
  width: 150px;
  overflow: hidden;
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
}
@media (max-width: 767px) {
  /* line 123, ../scss/styles.scss */
  #services img {
    height: 100px;
    width: 100px;
  }
}
/* line 136, ../scss/styles.scss */
#services .col-xs-6, #services .col-sm-4 {
  margin-bottom: 30px;
}

/* line 141, ../scss/styles.scss */
#comparison {
  background-color: #fdf2ef;
}

/* line 145, ../scss/styles.scss */
#contact {
  background-color: #e5eaee;
}
/* line 148, ../scss/styles.scss */
#contact form label {
  color: saddlebrown;
  font-weight: 700;
}
/* line 152, ../scss/styles.scss */
#contact form .form-control {
  border-radius: 0px;
  border-color: #e49b44;
  border-width: medium;
}
/* line 157, ../scss/styles.scss */
#contact form span {
  color: red;
}
/* line 160, ../scss/styles.scss */
#contact form #submitbutton {
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
}
/* line 163, ../scss/styles.scss */
#contact form #submitbutton:hover {
  color: #FFFFFF;
  background-color: blue;
}
/* line 169, ../scss/styles.scss */
#contact form #submitbutton[disabled]:hover {
  color: #909090;
  background-color: transparent;
}

/* FOOTER */
/* line 178, ../scss/styles.scss */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -50%;
  z-index: -1;
}
/* line 185, ../scss/styles.scss */
footer p {
  font-size: 10pt;
  color: #909090;
  margin: 10px;
}
