//@import "_bootstrap.scss";
$gray: #909090; 

.slide-pop {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slide-pop.ng-enter,
.slide-pop.ng-leave {
	-webkit-transition: all .6s linear;
	transition: all .6s linear;
}
.slide-pop.ng-enter {
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}
.slide-pop.ng-enter-active {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.slide-pop.ng-leave {
	left: 0;
	opacity: .5;
}
.slide-pop.ng-leave-active {
	left: -100%;
	opacity: 0;
}

.reverse .page.slide-pop.ng-enter {
	opacity: .5;
	left: -100%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.reverse .page.slide-pop.ng-enter-active {
	opacity: 1;
	left: 0;
}
.reverse .page.slide-pop.ng-leave {
	opacity: .5;
	-webkit-transform: scale(1);
	transform: scale(1);
	left: 0;
	right: 0;
}
.reverse .page.slide-pop.ng-leave-active {
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

.heading{
        color: #1d8e2d;
        text-transform: uppercase;
        font-weight: 700;
}

@mixin transition($duration){
        transition: $duration;
        -webkit-transition: $duration;
        -moz-transition: $duration;
        -o-transition: $duration;
        -ms-transition: $duration;
}

.buttonDefault{
        background-color: Transparent;
        font-size: 18pt;
        color: $gray;
        border-style: solid;
        border-width: 2px;
        border-color: $gray;
}

html, body{
        overflow-x: hidden;
}

h1{
    @extend .heading;
    font-size: 14pt;
    margin-bottom: 50px;
}


/* NAVIGATION BAR */
nav{
    background-color: #FFFFFF;
    .navbar-fixed-top{
        
    }
    li{
        @include transition(1s);
    }
    a{
        @extend .heading;
        &:hover{
            color: #094411;  
        } 
    }
    .active{
        background-color: #eee;
    }
    .icon-bar{
            background-color: $gray;
    }
    
}

/* JUMBOTRON */
.background{
        min-height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 1; 
}

.background-img{
        background-image: url("../img/trello.jpg");   
}

.jumbotron{
        padding: 300px;
}

.content{
    padding: 40px;
}

#services{
    margin-top: -3%;
    padding: 7% 7% 7% 7%;
    background-color: #FFFFFF;
    h4{
        font-family: 'Noto Sans', sans-serif;
        &:hover{
            
        }
        @include transition(500ms);
        @include breakpoint(sm){
            font-size: 16pt;
        }
        @include breakpoint(xs){
            font-size: 10pt;
        }
    }
    img{
        height: 150px;
        width: 150px;
        overflow: hidden;
        &:hover{

        }
        @include transition(500ms);
        @include breakpoint(xs){
            height: 100px;
            width: 100px; 
        }
    }
    .col-xs-6, .col-sm-4 {
        margin-bottom: 30px;
    }
}

#servicedetails{
}

#comparison{
    background-color: #fdf2ef; //#FFFFFF;
}

#testimonials{
    background-color: #FFFFFF;
}

#contact{
    background-color: #e5eaee;
    form{
        label{
            color: saddlebrown;
            font-weight: 700;
        }
        .form-control{
                border-radius: 0px;
                border-color: #e49b44;
                border-width: medium;
        }
        span{
            color: red;
        }
        #submitbutton{
                @include transition(500ms);
                @extend .buttonDefault;
                &:hover{
                        color: #FFFFFF;
                        background-color: blue;  
                } 
        }
        #submitbutton[disabled]{
            &:hover{
                color: $gray;
                background-color: transparent;
            }
        }
    }
}

/* FOOTER */
footer{
    width:100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -50%;
    z-index: -1;
    p{
        font-size: 10pt;
        color: $gray;
        margin: 10px;
    }
    
}

