@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 2px) rotate(20deg);
  }
  20% {
    -webkit-transform: translate(-4px, -4px) rotate(-20deg);
  }
  40% {
    -webkit-transform: translate(2px, 2px) rotate(20deg);
  }
  60% {
    -webkit-transform: translate(-2px, 2px) rotate(-20deg);
  }
  80% {
    -webkit-transform: translate(4px, -4px) rotate(20deg);
  }
  100% {
    -webkit-transform: translate(-2px, 2px) rotate(-20deg);
  }
}
.shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.6s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-duration: 0.6;
}



$gray: #909090; 

.slide-pop {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slide-pop.ng-enter,
.slide-pop.ng-leave {
	-webkit-transition: all .6s linear;
	transition: all .6s linear;
}
.slide-pop.ng-enter {
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}
.slide-pop.ng-enter-active {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.slide-pop.ng-leave {
	left: 0;
	opacity: .5;
}
.slide-pop.ng-leave-active {
	left: -100%;
	opacity: 0;
}

.reverse .page.slide-pop.ng-enter {
	opacity: .5;
	left: -100%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.reverse .page.slide-pop.ng-enter-active {
	opacity: 1;
	left: 0;
}
.reverse .page.slide-pop.ng-leave {
	opacity: .5;
	-webkit-transform: scale(1);
	transform: scale(1);
	left: 0;
	right: 0;
}
.reverse .page.slide-pop.ng-leave-active {
	opacity: 0;
	-webkit-transform: scale(.5);
	transform: scale(.5);
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

.heading{
        color: #1d8e2d;
        text-transform: uppercase;
        font-weight: 700;
}

@mixin transition($duration){
        transition: $duration;
        -webkit-transition: $duration;
        -moz-transition: $duration;
        -o-transition: $duration;
        -ms-transition: $duration;
}

@mixin transform($type){
        transform: $type;
        -webkit-transform: $type;
        -moz-transform: $type;
        -o-transform: $type;
        -ms-transform: $type;
}

.rotatedSection{
        z-index: 1;
        width: 150%;
        height: 25%;
        position: absolute;
        bottom: -25%;
        left: -5%;
        transform-origin: 0;
        @include transform(rotate(-3deg));
}

.buttonDefault{
        background-color: Transparent;
        font-size: 18pt;
        color: $gray;
        border-style: solid;
        border-width: 2px;
        border-color: $gray;
}

html, body{
        overflow-x: hidden;
}

h1{
    @extend .heading;
    font-size: 14pt;
    margin-bottom: 50px;
}


/* NAVIGATION BAR */
nav{
    background-color: #FFFFFF;
    .navbar-fixed-top{
        
    }
    li{
        @include transition(1s);
    }
    a{
        @extend .heading;
        &:hover{
            color: #094411;  
        } 
    }
    .active{
        background-color: #eee;
    }
    .icon-bar{
            background-color: $gray;
    }
    
}

/* JUMBOTRON */
.background{
        min-height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 1; 
}

.background-img{
        background-image: url("../img/trello.jpg");   
}

.jumbotron{
        padding: 300px;
}

.content{
    padding: 40px;
}

#services{
    margin-top: -3%;
    padding: 7% 7% 10% 7%;
    background-color: #FFFFFF;
    h4{
        font-family: 'Noto Sans', sans-serif;
        &:hover{
            
        }
        @include transition(500ms);
        @include breakpoint(sm){
            font-size: 16pt;
        }
        @include breakpoint(xs){
            font-size: 10pt;
        }
    }
    img{
        height: 150px;
        width: 150px;
        overflow: hidden;
        &:hover{

        }
        @include transition(500ms);
        @include breakpoint(xs){
            height: 100px;
            width: 100px; 
        }
    }
    .col-xs-6, .col-sm-4 {
        margin-bottom: 30px;
    }
}

#servicedetails{
    background-color: #FFFFFF;
    h4.title{
        padding-bottom: 40px;
    }
    a{
        text-decoration: none;
    }
    img{
        display: block;
        margin: 0 auto;
    }
    .col-xs-12.main{
        img{
            height: 300px;
            width: 100%;
        }
    }
    .content{
        margin-top: 10px;
        @include breakpoint(xs){
            padding: 10px;
        }
        img{
            height: 200px;
            width: 300px;
        }
    }
    .footer{
        padding: 40px;
        padding-top: 80px;
    }

}

#comparison{
    position: relative;
    z-index: 2;
    background-color: #bd90d6; //#f6598d;
    padding-bottom: 100px;
    h1{
        color: #eee;
        padding: 3% 0 3% 0;
    }
    .col-xs-12, .col-sm-4{
        position: relative;
        height: 350px;
        overflow: hidden;
        img{
            width: 100%;
            height: 250px;
        }
    }
    .img-caption{
        height:350px;
        padding: 15px;
        h4, p{
            margin: 0px 0px 10px 10px;
        }
        @include transition(1s);
        &:hover{
            position: absolute;
            top: 0;
        }
    }
    
//    .rotatedSection{
//        background-color: #bd90d6;
//        bottom: -5%;
//        @include transform(rotate(1deg));
//    }
    
//    .rotatedSection.top{
//        top: 0;
//        height: 40%;
//        background-color: #f6598d;
//    }
}

#testimonials{
    position: relative;
    padding: 200px;
    .col-sm-8{
        //padding: 100px;
    }
    
    button{
        border: none;
        padding: 5px;
        &:hover{
            box-shadow: 0px 0px 10px 0px #888888;
        }
    }
    
    button.prev{
        position: absolute;
        top: 40%;
        left: 0;
    }
    
    button.next{
        position: absolute;
        top: 40%;
        right: 0;
    }
    
    img{
        height: 50px;
        width: 50px;
    }
    
    .client-quote-mark {
        position: absolute;
        top: -15px;
        left: 10px;
        height: 50px;
        width: 50px;
//        z-index: -1;
        opacity: 0.3; 
    }
    .client-quote-mark path {
        fill: #c99065; 
    }
    h4{
        font-family: 'Raleway', sans-serif;
        font-size: 16pt;
        color: #5f5d5c;
    }
    p, cite{
        color: $gray;
    }
    background-color: #FFFFFF;
}

#contact{
    position: relative;
    background-color: #e5eaee;
    .rotatedSection{
        z-index: 0;
        bottom: -15%;
        background-color: #e5eaee;
    }
//    .rotatedSection.top{
//        top: -5%;
//        height: 40%;
//    }
    h1, .container, .col-xs-12, .col-sm-4{
        position: relative;
        z-index: 2;
    }
    form{
        label{
            color: saddlebrown;
            font-weight: 700;
        }
        .form-control{
                border-radius: 0px;
                border-color: #e49b44;
                border-width: medium;
        }
        span{
            color: red;
        }
        #submitbutton{
                @include transition(500ms);
                @extend .buttonDefault;
                &:hover{
                        color: #FFFFFF;
                        background-color: blue;  
                } 
        }
        #submitbutton[disabled]{
            &:hover{
                color: $gray;
                background-color: transparent;
            }
        }
    }
}

/* FOOTER */
footer{
    width:100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -50%;
    z-index: -1;
    p{
        font-size: 10pt;
        color: $gray;
        margin: 10px;
    }
    
}

