/* line 4, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.slide-pop {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

/* line 11, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.slide-pop.ng-enter,
.slide-pop.ng-leave {
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear; }

/* line 15, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.slide-pop.ng-enter {
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

/* line 20, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.slide-pop.ng-enter-active {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

/* line 25, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.slide-pop.ng-leave {
  left: 0;
  opacity: .5; }

/* line 29, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.slide-pop.ng-leave-active {
  left: -100%;
  opacity: 0; }

/* line 34, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.reverse .page.slide-pop.ng-enter {
  opacity: .5;
  left: -100%;
  -webkit-transform: scale(1);
  transform: scale(1); }

/* line 40, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.reverse .page.slide-pop.ng-enter-active {
  opacity: 1;
  left: 0; }

/* line 44, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.reverse .page.slide-pop.ng-leave {
  opacity: .5;
  -webkit-transform: scale(1);
  transform: scale(1);
  left: 0;
  right: 0; }

/* line 51, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.reverse .page.slide-pop.ng-leave-active {
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

/* line 79, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.heading, h1, nav a {
  color: #1d8e2d;
  text-transform: uppercase;
  font-weight: 700; }

/* line 93, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.buttonDefault, #contact form #submitbutton {
  background-color: Transparent;
  font-size: 18pt;
  color: #909090;
  border-style: solid;
  border-width: 2px;
  border-color: #909090; }

/* line 102, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
html, body {
  overflow-x: hidden; }

/* line 106, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
h1 {
  font-size: 14pt;
  margin-bottom: 50px; }

/* NAVIGATION BAR */
/* line 114, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
nav {
  background-color: #FFFFFF; }
  /* line 119, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  nav li {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s; }
  /* line 124, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  nav a:hover {
    color: #094411; }
  /* line 128, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  nav .active {
    background-color: #eee; }
  /* line 131, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  nav .icon-bar {
    background-color: #909090; }

/* JUMBOTRON */
/* line 138, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.background {
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1; }

/* line 147, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.background-img {
  background-image: url("../img/trello.jpg"); }

/* line 151, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.jumbotron {
  padding: 300px; }

/* line 155, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.content {
  padding: 40px; }

/* line 159, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
#services {
  margin-top: -3%;
  padding: 7% 7% 7% 7%;
  background-color: #FFFFFF; }
  /* line 163, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #services h4 {
    font-family: 'Noto Sans', sans-serif;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -ms-transition: 500ms; }
    @media (min-width: 768px) {
      /* line 163, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
      #services h4 {
        font-size: 16pt; } }
    @media (max-width: 767px) {
      /* line 163, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
      #services h4 {
        font-size: 10pt; } }
  /* line 176, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #services img {
    height: 150px;
    width: 150px;
    overflow: hidden;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -ms-transition: 500ms; }
    @media (max-width: 767px) {
      /* line 176, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
      #services img {
        height: 100px;
        width: 100px; } }
  /* line 189, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #services .col-xs-6, #services .col-sm-4 {
    margin-bottom: 30px; }

/* line 197, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
#comparison {
  background-color: #fdf2ef; }

/* line 201, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
#testimonials {
  background-color: #FFFFFF; }

/* line 205, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
#contact {
  background-color: #e5eaee; }
  /* line 208, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #contact form label {
    color: saddlebrown;
    font-weight: 700; }
  /* line 212, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #contact form .form-control {
    border-radius: 0px;
    border-color: #e49b44;
    border-width: medium; }
  /* line 217, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #contact form span {
    color: red; }
  /* line 220, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #contact form #submitbutton {
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -ms-transition: 500ms; }
    /* line 223, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
    #contact form #submitbutton:hover {
      color: #FFFFFF;
      background-color: blue; }
  /* line 229, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #contact form #submitbutton[disabled]:hover {
    color: #909090;
    background-color: transparent; }

/* FOOTER */
/* line 238, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -50%;
  z-index: -1; }
  /* line 245, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  footer p {
    font-size: 10pt;
    color: #909090;
    margin: 10px; }

/*# sourceMappingURL=styles.css.map */