@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 2px) rotate(20deg); }
  20% {
    -webkit-transform: translate(-4px, -4px) rotate(-20deg); }
  40% {
    -webkit-transform: translate(2px, 2px) rotate(20deg); }
  60% {
    -webkit-transform: translate(-2px, 2px) rotate(-20deg); }
  80% {
    -webkit-transform: translate(4px, -4px) rotate(20deg); }
  100% {
    -webkit-transform: translate(-2px, 2px) rotate(-20deg); } }

/* line 21, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.6s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-duration: 0.6; }

/* line 34, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.slide-pop {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

/* line 41, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.slide-pop.ng-enter,
.slide-pop.ng-leave {
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear; }

/* line 45, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.slide-pop.ng-enter {
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

/* line 50, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.slide-pop.ng-enter-active {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

/* line 55, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.slide-pop.ng-leave {
  left: 0;
  opacity: .5; }

/* line 59, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.slide-pop.ng-leave-active {
  left: -100%;
  opacity: 0; }

/* line 64, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.reverse .page.slide-pop.ng-enter {
  opacity: .5;
  left: -100%;
  -webkit-transform: scale(1);
  transform: scale(1); }

/* line 70, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.reverse .page.slide-pop.ng-enter-active {
  opacity: 1;
  left: 0; }

/* line 74, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.reverse .page.slide-pop.ng-leave {
  opacity: .5;
  -webkit-transform: scale(1);
  transform: scale(1);
  left: 0;
  right: 0; }

/* line 81, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.reverse .page.slide-pop.ng-leave-active {
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

/* line 109, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.heading, h1, nav a {
  color: #1d8e2d;
  text-transform: uppercase;
  font-weight: 700; }

/* line 131, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.rotatedSection {
  z-index: 1;
  width: 150%;
  height: 25%;
  position: absolute;
  bottom: -25%;
  left: -5%;
  transform-origin: 0;
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg); }

/* line 142, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.buttonDefault, #contact form #submitbutton {
  background-color: Transparent;
  font-size: 18pt;
  color: #909090;
  border-style: solid;
  border-width: 2px;
  border-color: #909090; }

/* line 151, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
html, body {
  overflow-x: hidden; }

/* line 155, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
h1 {
  font-size: 14pt;
  margin-bottom: 50px; }

/* NAVIGATION BAR */
/* line 163, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
nav {
  background-color: #FFFFFF; }
  /* line 168, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  nav li {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s; }
  /* line 173, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  nav a:hover {
    color: #094411; }
  /* line 177, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  nav .active {
    background-color: #eee; }
  /* line 180, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  nav .icon-bar {
    background-color: #909090; }

/* JUMBOTRON */
/* line 187, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.background {
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1; }

/* line 196, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.background-img {
  background-image: url("../img/trello.jpg"); }

/* line 200, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.jumbotron {
  padding: 300px; }

/* line 204, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
.content {
  padding: 40px; }

/* line 208, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
#services {
  margin-top: -3%;
  padding: 7% 7% 10% 7%;
  background-color: #FFFFFF; }
  /* line 212, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #services h4 {
    font-family: 'Noto Sans', sans-serif;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -ms-transition: 500ms; }
    @media (min-width: 768px) {
      /* line 212, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
      #services h4 {
        font-size: 16pt; } }
    @media (max-width: 767px) {
      /* line 212, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
      #services h4 {
        font-size: 10pt; } }
  /* line 225, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #services img {
    height: 150px;
    width: 150px;
    overflow: hidden;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -ms-transition: 500ms; }
    @media (max-width: 767px) {
      /* line 225, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
      #services img {
        height: 100px;
        width: 100px; } }
  /* line 238, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #services .col-xs-6, #services .col-sm-4 {
    margin-bottom: 30px; }

/* line 243, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
#servicedetails {
  background-color: #FFFFFF; }
  /* line 245, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #servicedetails h4.title {
    padding-bottom: 40px; }
  /* line 248, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #servicedetails a {
    text-decoration: none; }
  /* line 251, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #servicedetails img {
    display: block;
    margin: 0 auto; }
  /* line 256, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #servicedetails .col-xs-12.main img {
    height: 300px;
    width: 100%; }
  /* line 261, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #servicedetails .content {
    margin-top: 10px; }
    @media (max-width: 767px) {
      /* line 261, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
      #servicedetails .content {
        padding: 10px; } }
    /* line 266, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
    #servicedetails .content img {
      height: 200px;
      width: 300px; }
  /* line 271, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #servicedetails .footer {
    padding: 40px;
    padding-top: 80px; }

/* line 278, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
#comparison {
  position: relative;
  z-index: 2;
  background-color: #bd90d6;
  padding-bottom: 100px; }
  /* line 283, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #comparison h1 {
    color: #eee;
    padding: 3% 0 3% 0; }
  /* line 288, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #comparison .col-xs-12 img, #comparison .col-sm-4 img {
    width: 100%;
    height: 250px; }
  /* line 293, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #comparison .img-caption {
    padding: 3px; }

/* line 310, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
#testimonials {
  position: relative;
  padding: 200px;
  background-color: #FFFFFF; }
  /* line 317, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #testimonials button {
    border: none;
    padding: 5px; }
    /* line 320, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
    #testimonials button:hover {
      box-shadow: 0px 0px 10px 0px #888888; }
  /* line 325, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #testimonials button.prev {
    position: absolute;
    top: 40%;
    left: 0; }
  /* line 331, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #testimonials button.next {
    position: absolute;
    top: 40%;
    right: 0; }
  /* line 337, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #testimonials img {
    height: 50px;
    width: 50px; }
  /* line 342, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #testimonials .client-quote-mark {
    position: absolute;
    top: -15px;
    left: 10px;
    height: 50px;
    width: 50px;
    opacity: 0.3; }
  /* line 351, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #testimonials .client-quote-mark path {
    fill: #c99065; }
  /* line 354, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #testimonials h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 16pt;
    color: #5f5d5c; }
  /* line 359, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #testimonials p, #testimonials cite {
    color: #909090; }

/* line 365, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
#contact {
  position: relative;
  background-color: #e5eaee; }
  /* line 368, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #contact .rotatedSection {
    z-index: 0;
    bottom: -15%;
    background-color: #e5eaee; }
  /* line 377, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #contact h1, #contact .container, #contact .col-xs-12, #contact .col-sm-4 {
    position: relative;
    z-index: 2; }
  /* line 382, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #contact form label {
    color: saddlebrown;
    font-weight: 700; }
  /* line 386, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #contact form .form-control {
    border-radius: 0px;
    border-color: #e49b44;
    border-width: medium; }
  /* line 391, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #contact form span {
    color: red; }
  /* line 394, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #contact form #submitbutton {
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    -ms-transition: 500ms; }
    /* line 397, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
    #contact form #submitbutton:hover {
      color: #FFFFFF;
      background-color: blue; }
  /* line 403, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  #contact form #submitbutton[disabled]:hover {
    color: #909090;
    background-color: transparent; }

/* FOOTER */
/* line 412, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -50%;
  z-index: -1; }
  /* line 419, C:/Users/Jacques/Desktop/website/cccetech/scss/styles.scss */
  footer p {
    font-size: 10pt;
    color: #909090;
    margin: 10px; }

/*# sourceMappingURL=styles.css.map */