
    <div id="comparison" class="content" ng-controller="ComparisonsController">
        <div class="rotatedSection top"></div>
        <h1 class="text-center">What We Offer</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-4" ng-repeat="comparison in comparisons">
                <img ng-src={{comparison.img}} alt={{comparison.name}}>
                <div class="img-caption" style="background-color:#eee;">
                    <h4>{{comparison.name}}</h4>
                    <p>{{comparison.description}}</p>
                </div>
            </div>
        </div>
        <div class="rotatedSection bottom"></div>
    </div>
    
    
    
    <div id="testimonials" class="content" ng-controller="TestimonialsController">
        <h1 class="text-center">Testimonials</h1>
        <div class="container text-center">
            
            <button class="prev" ng-click="prev()"><img src="img/back.svg"></button>
            <button class="next" ng-click="next()"><img src="img/next.svg"></button>
            
            <div ng-class="class">
            
            <div class="col-xs-12 col-sm-9 col-sm-push-1">
                <div class="client-quote-mark"><?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 enable-background="new 0 0 55 55" xml:space="preserve">
<path d="M50.692,9.732c-12.207,6.16-18.309,14.697-18.309,25.615c0,3.64,1.147,6.733,3.443,9.28c2.295,2.548,5.01,3.821,8.146,3.821
	c2.799,0,5.123-0.979,6.971-2.939c1.848-1.959,2.771-4.367,2.771-7.223c0-2.688-0.953-5.052-2.855-7.097
	c-1.904-2.043-4.312-3.233-7.223-3.569c0-4.535,3.415-8.482,10.246-11.842L50.692,9.732z M19.87,9.732
	C7.72,15.891,1.645,24.429,1.645,35.347c0,3.64,1.134,6.733,3.401,9.28c2.268,2.548,4.968,3.821,8.104,3.821
	c2.799,0,5.136-0.979,7.013-2.939c1.875-1.959,2.813-4.367,2.813-7.223c0-2.688-0.953-5.052-2.856-7.097
	c-1.904-2.043-4.34-3.233-7.307-3.569c0-4.535,3.443-8.482,10.33-11.842L19.87,9.732z"/>
</svg></div>
                <h4>{{testimonial.comment}}</h4>
                <p class="text-center">{{testimonial.author}}</p> 
                <cite title="Source Title">{{testimonial.title}}</cite> 
                <p>{{testimonial.organization}}</p>
                <p>{{testimonial.date}}</p>
            </div>
        </div>
    </div>
</div>
    
    
    
    <div id="contact" class="content text-center">
        <div class="rotatedSection top"></div>
        <div class="container">
            <h1 class="text-center">Let's Work Together</h1>
                <div class="row">
                        <div class="col-xs-12 col-sm-4 col-sm-push-4">
                            <form name="contactForm" id="contactForm" action="//formspree.io/jpd276@cornell.edu" method="POST" novalidate>
                                    <input type="text" name="_gotcha" style="display:none" />
                                    <div class="form-group floating-label-form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" placeholder="Name" id="name" name="Name" ng-model="name" required>
                                        <span ng-show="contactForm.Name.$touched && contactForm.Name.$invalid">Please enter your name.</span>
                                    </div>
                                    <div class="form-group floating-label-form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="Email" id="email" name="Email" ng-model="email">
                                        <span ng-show="contactForm.Email.$touched && contactForm.Email.$error.email">Please enter a valid email.</span>
                                    </div>
                                    <div class="form-group floating-label-form-group">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" placeholder="Phone" id="phone" name="Phone" ng-model="phone">
                                    </div>
                                    <div class="form-group floating-label-form-group">
                                        <label>Message</label>
                                        <textarea rows="9" class="form-control" placeholder="Message" id="message" name="Message" ng-model="message" required></textarea>
                                        <span ng-show="contactForm.Message.$touched && contactForm.Message.$invalid">Please enter a message.</span>
                                    </div>
                                    <input id="submitbutton" type="submit" value="Send" ng-disabled="contactForm.$invalid || (!email.length && !phone.length)">

                            </form>
                        </div>
                </div>
        </div>
        <div class="rotatedSection"></div>
    </div>

